@using GL.Data.Model
@model BaseDataView
@{
    ViewBag.Title = "首冲总充值";

    ViewBag.Format = "yyyy-MM-dd";
    switch (Model.Groupby)
    {
        case groupby.按日:
            break;
        case groupby.按月:
            ViewBag.Format = "yyyy-MM";
            break;
    }
 

}

<div id="content">

    <form id="comment-form" class="smart-form" novalidate="novalidate">
        <div class="row">
            <div class="widget-body">

              
                <section class="col col-1.2">
                    <label class="label">起始日期</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBoxFor(m => m.StartDate, new Dictionary<string, object>() { { "class", "form-control datepicker" }, { "data-dateformat", "yy-mm-dd:00:00:00" } })
                    </label>
                </section>
                <section class="col col-1.2">
                    <label class="label"> 截止日期</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBoxFor(m => m.ExpirationDate, new Dictionary<string, object>() {
                           { "class", "form-control datepicker" },
                           { "data-dateformat", "yy-mm-dd:00:00:00" }
                       })
                    </label>
                </section>


                <section class="col col-1">
                    <label class="label">&nbsp;</label>
                    <button type="submit" class="btn btn-success btn-sm">查询</button>
                </section>

            </div>
        </div>
    </form>




    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>购买首冲的总充值</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding" style="min-height: 70px;">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        @*<tr><th colspan="2">累计牌局数: @ViewData["AllPlayCount"]  人次</th></tr>*@
                                        <tr>
                                            <th>日期</th>
                                            <th>充值总数(元)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     
                                        @{
                                            <tr>
                                                <td>@Model.StartDate.ToString() - @Model.ExpirationDate.ToString()</td>
                                                <td>@ViewData["SumRecharge"]</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>
    </section>




</div>