@using GL.Data.Model
@model BaseDataView
@{
    ViewBag.Title = "充值列表";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Format = "yyyy-MM-dd";

    switch (Model.Groupby)
    {
        case groupby.按日:
            break;
        case groupby.按月:
            ViewBag.Format = "yyyy-MM";
            break;
    }

}





<div id="content">
    <form id="comment-form" class="smart-form" novalidate="novalidate">
        <div class="row">
            <div class="widget-body">

                <section class="col col-1">
                    <label class="label">会员ID</label>
                    <label class="input">
                        @Html.TextBoxFor(m => m.UserID, new { @class = "span2", style = "border-radius:4px" })
                    </label>
                </section>

                <section class="col col-1.2">
                    <label class="label">起始日期</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBoxFor(m => m.StartDate, new Dictionary<string, object>() { { "class", "form-control datepicker" }, { "data-dateformat", "yy-mm-dd 00:00:00" } })
                    </label>
                </section>
                <section class="col col-1.2">
                    <label class="label"> 截止日期</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBoxFor(m => m.ExpirationDate, new Dictionary<string, object>() {
                           { "class", "form-control datepicker" },
                           { "data-dateformat", "yy-mm-dd 00:00:00" }
                       })
                    </label>
                </section>

                <section class="col col-1">
                    <label class="label"> 类型</label>
                    <label class="select">
                        @Html.DropDownListFor(m => m.Channels, new List<SelectListItem>
                {
                    new SelectListItem { Text= "所有", Value = "0" },
                    new SelectListItem { Text= "首充礼包", Value = "1" }
                })<i></i>
                    </label>
                </section>

                <section class="col col-1">
                    <label class="label">&nbsp;</label>
                    @*<button type="submit" class="btn btn-success btn-sm">查询</button>*@
                    <input type="button" onclick="recharge()" class="btn btn-success btn-sm" value="查询" />
                </section>

            </div>
        </div>
    </form>

    <div class="row-fluid">
        <div class="widget-box" id="box">
            @Html.Partial("QQZoneRecharge_PageList", Model.BaseDataList)
        </div>
    </div>
</div>










@section scripts{
    @{Html.RegisterMvcPagerScriptResource();}


    <script type="text/javascript">

        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }


        function ConfirmDelUser() {
            return confirm("你确认要执行此操作吗？");
        }

        function errFunc(res) {
            alert(res["responseText"]);
        }
        function successPageFun() {

        }

        $(document).ready(function () {
           

        });


    </script>
}

