@using Webdiyer.WebControls.Mvc;
@using GL.Data.Model;
@using GL.Data.View;
@using GL.Data.BLL;
@model WaterMarginView
@{
    IEnumerable<FruitGameExplodeConfig> DataOne = Model.DataOne as List<FruitGameExplodeConfig>;


   
    IEnumerable<FruitBibeiConfig> DataTwo2 = Model.DataTwo2 as IEnumerable<FruitBibeiConfig>;

  


    IEnumerable<FruitPotConfig> DataThree = Model.DataThree as List<FruitPotConfig>;


    IEnumerable<ArcadeGameStock> DataFour = Model.DataFour as List<ArcadeGameStock>;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfigIndex</title>
</head>
<body>

    <div id="content">
        <div class="well well-sm well-light">
            <div id="tabs">
                <ul>
                    <li><a href="#menu-1">爆灯&比倍胜率</a></li>
             
                </ul>
                <div id="menu-1">

                    <div style="position:center;color:red"> <h4>爆灯配置</h4> </div>
                    <div class="well well-sm well-light">
                        <div id="tabs2">
                            <ul>
                                @for (int k = 1; k <= DataOne.GroupBy(m => m.Type).Count(); k++)
                                {
                                    <li onclick="changeTab(@k)">
                                        <a href="#tabs-@k">@("配置" + k)</a>
                                    </li>
                                }
                            </ul>

                            @{
                                IEnumerable<IGrouping<int, FruitGameExplodeConfig>> dataoneGroup = DataOne.GroupBy(m => m.Type);
                                int index = 0;




                                foreach (IGrouping<int, FruitGameExplodeConfig> item in dataoneGroup)
                                {
                                    List<FruitGameExplodeConfig> itemfruit = item.ToList<FruitGameExplodeConfig>();
                                    index++;
                                    string no = "lbl" + index;
                                    <div id="tabs-@index">
                                        <section id="widget-grid" class="">
                                            <div class="row">

                                                @for (int i = 1; i <= itemfruit.Count(); i++)

                                                {
                                                 
                                                        FruitGameExplodeConfig fruitItem = itemfruit[i - 1];

                                                  
                                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false" data-widget-colorbutton="false"
                                                             data-widget-togglebutton="false"
                                                             data-widget-deletebutton="false"
                                                             data-widget-fullscreenbutton="false"
                                                             data-widget-custombutton="false"
                                                             data-widget-collapsed="false"
                                                             data-widget-sortable="false">
                                                            <!-- widget div-->
                                                            <div>
                                                                <!-- widget edit box -->
                                                                <div class="jarviswidget-editbox">
                                                                    <!-- This area used as dropdown edit box -->
                                                                </div>
                                                                <div class="widget-body no-padding">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>爆灯种类</th>
                                                                                    <th>权重配置</th>
                                                                                    <th>爆灯种类</th>
                                                                                    <th>权重配置</th>
                                                                                    <th>爆灯种类</th>
                                                                                    <th>权重配置</th>
                                                                                    <th>爆灯种类</th>
                                                                                    <th>权重配置</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                              
<tr>
<td>普通</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.Normal" /></td>
<td>幸运奖励</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.Lucky" /></td>
<td>随机奖励</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.Random" /></td>
<td>小三元</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.SmallThree" /></td>
</tr>
<tr>
<td>大三元</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.BigThree" /></td>
<td>大四喜</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.Bigfour" /></td>
<td>纵横四海</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.Zong" /></td>
<td>天女散花</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.TianNv" /></td>
</tr>
<tr>
<td>天龙八部</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.TianLong" /></td>
<td>九宝莲灯</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.JiuBao" /></td>
<td>大满贯</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.GrandSlam" /></td>
<td>开火车</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.OpenTrain" /></td>
</tr>



                                                                          
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- end widget content -->
                                                            </div>
                                                            <!-- end widget div -->
                                                        </div>
                                                    </article>
                                                                                   




                                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                                                         data-widget-togglebutton="false"
                                                         data-widget-deletebutton="false"
                                                         data-widget-fullscreenbutton="false"
                                                         data-widget-custombutton="false"
                                                         data-widget-collapsed="false"
                                                         data-widget-sortable="false">
                                                        <!-- widget div-->
                                                        <div>
                                                            <!-- widget edit box -->
                                                            <div class="jarviswidget-editbox">
                                                                <!-- This area used as dropdown edit box -->
                                                            </div>
                                                            <div class="widget-body no-padding">
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                          
                                                                            <tr>
                                                                                <th>普通爆灯</th>
                                                                                <th>权重配置</th>
                                                                                <th>普通爆灯</th>
                                                                                <th>权重配置</th>
                                                                                <th>普通爆灯</th>
                                                                                <th>权重配置</th>
                                                                                <th>普通爆灯</th>
                                                                                <th>权重配置</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
<tr>
<td>小苹果</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.SmallApple" /></td>
<td>小橘子</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.SmallOrange" /></td>
<td>小芒果</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.SmallMango" /></td>
<td>小铃铛</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.SmallRing" /></td>
</tr>
<tr>
<td>小西瓜</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.SmallWatermalon" /></td>
<td>小双星</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.SmallDoubleStar" /></td>
<td>小双七</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.SmallDoubleSeven" /></td>
<td>苹果</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.Apple" /></td>
</tr>
<tr>
<td>橘子</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.Orange" /></td>
<td>芒果</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.Mango" /></td>
<td>铃铛</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.Ring" /></td>
<td>西瓜</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.Watermalon" /></td>
</tr>
<tr>
<td>双星</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.DoubleStar" /></td>
<td>双七</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.DoubleSeven" /></td>
<td>小bar</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.SmallBar" /></td>
<td>大bar</td><td no="@no"><input disabled="disabled" readonly="readonly" type="text" value="@fruitItem.BigBar" /></td>
</tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!-- end widget content -->
                                                        </div>
                                                        <!-- end widget div -->
                                                    </div>
                                                </article>


                                                }


                                                 <section class="col col-1">
                                                     <label class="label">&nbsp;</label>
                                                     <input type="button" onclick="save(@index,'@("btnEdit"+index)')" class="btn btn-success btn-sm" value="保存" />

                                                     <input type="button" id="@("btnEdit"+index)" onclick="edit(@index,this)" class="btn btn-success btn-sm" value="编辑" />
                                                 </section>
                                            </div>
                                        </section>
                                    </div>
                                                                                    }
                            }
                        </div>
                    </div>


                    <div>
                        <div style="position:center;color:red"><h4>比倍胜率配置</h4></div>
                        <div class="well well-sm well-light">
                           
                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                                     data-widget-togglebutton="false"
                                     data-widget-deletebutton="false"
                                     data-widget-fullscreenbutton="false"
                                     data-widget-custombutton="false"
                                     data-widget-collapsed="false"
                                     data-widget-sortable="false">
                                    <!-- widget div-->
                                    <div>
                                        <!-- widget edit box -->
                                        <div class="jarviswidget-editbox">
                                            <!-- This area used as dropdown edit box -->
                                        </div>
                                        <div class="widget-body no-padding">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>第1局(填写真实的小数点概率)</th>
                                                            <th>第2局</th>
                                                            <th>第3局</th>
                                                            <th>第n局</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @*FruitBibeiConfig   DataTwo2*@
                                                        @{ 
                                                            string bibeiNo = "bibei";
                                                        }
                                                        @foreach (FruitBibeiConfig biBeiConfig in DataTwo2)
	                                                    {
		                                                    <tr>
                                                                <td>@biBeiConfig.SeasonID</td>
          <td no="@bibeiNo"><input disabled="disabled" readonly="readonly" type="text" value="@(biBeiConfig.GameNum1*1.0/1000)" /></td>
           <td  no="@bibeiNo"><input disabled="disabled" readonly="readonly" type="text" value="@(biBeiConfig.GameNum2*1.0/1000)" /></td>
            <td  no="@bibeiNo"><input disabled="disabled" readonly="readonly" type="text" value="@(biBeiConfig.GameNum3*1.0/1000)" /></td>
           <td  no="@bibeiNo"><input disabled="disabled" readonly="readonly" type="text" value="@(biBeiConfig.GameNumn*1.0/1000)" /></td>
                                                            </tr>
	                                                    }
                                                    </tbody>
                                                </table>

                                           
                                            </div>
                                        </div>
                                        <!-- end widget content -->
                                    </div>
                                    <!-- end widget div -->
                                </div>
                            </article>

                            
                            <br />
                            <input type="button" onclick="saveMary(this,'@bibeiNo')" class="btn btn-success btn-sm" value="保存" />
                            <input type="button" id="btnEditmary" onclick="editMary(this,'@bibeiNo')" class="btn btn-success btn-sm" value="编辑" />
                        </div>

                    </div>


                </div>
             
            </div>
        </div>







    </div>




</body>
</html>


<script type="text/javascript">
    function edit(no, obj) {

        if ($(obj).val() == "编辑") {
            var inputs = eval("$('td[no=lbl" + no + "] input')");
            inputs.each(function () {
                $(this).removeAttr("readonly");  //disabled
                $(this).removeAttr("disabled");
            });
            $(obj).val("取消");
        } else {

            var inputs = eval("$('td[no=lbl" + no + "] input')");
            inputs.each(function () {
                $(this).attr("readonly", "readonly");  //disabled
                $(this).attr("disabled", "disabled");
            });
            $(obj).val("编辑");
        }
    }


    function save(no,obj) {
        var saveData = '';
        var j = 0;
        var inputs = eval("$('td[no=lbl" + no + "] input')");

     

        inputs.each(function () {  //每9个是一列
            var v = $(this).val();
            if (j ==3|| j==7 ||j==11 ||j==15||j==19||j==23) {
                saveData += v + "|";
            } else {
                saveData += v + ",";
            }
            j++;
        });
     
       
        $.ajax({
            url: "/FruitMachines/ConfigIndex/",
            type: "post",
            data: { "par": saveData, "type": no, "operType": "1" },
            success: function (data) {
                if (data == "1") {
                    alert("修改成功!");
                    inputs.each(function () {
                        $(this).attr("readonly", "readonly");  //disabled
                        $(this).attr("disabled", "disabled");
                        eval('$("#' + obj + '").val("编辑")');
                    });
                } else {
                    alert("修改失败,错误编号" + data + "，请重新操作!");
                }
            }
        });





    }


    function changeTab(tab) {

        $("td input").each(function () {
            $(this).attr("readonly", "readonly");  //disabled
            $(this).attr("disabled", "disabled");
        });




    }


    function saveMary(obj,no) {

        var saveData = '';
        var j = 0;
        var inputs = eval("$('td[no=" + no + "] input')");

  

        inputs.each(function () {  //每4个是一列
            var v = $(this).val();
            if (j == 3 || j == 7 || j == 11 || j == 15 || j == 19) {
                saveData += v + "|";
            } else {
                saveData += v + ",";
            }
            j++;
        });
     
        $.ajax({
            url: "/FruitMachines/ConfigIndex/",
            type: "post",
            data: { "par": saveData, "type": no, "operType": "2" },
            success: function (data) {
                if (data == "1") {
                    alert("修改成功!");
                    inputs.each(function () {
                        $(this).attr("readonly", "readonly");  //disabled
                        $(this).attr("disabled", "disabled");
                        eval('$("#' + obj + '").val("编辑")');
                    });
                } else {
                    alert("修改失败,错误编号" + data + "，请重新操作!");
                }
            }
        });

    }
    function editMary(obj,no) {


        if ($(obj).val() == "编辑") {

            var inputs = eval("$('td[no=" + no + "] input')");
            inputs.each(function () {
                $(this).removeAttr("readonly");  //disabled
                $(this).removeAttr("disabled");
            });

            $(obj).val("取消");
        } else {
            var inputs = eval("$('td[no=" + no + "] input')");
            inputs.each(function () {
                $(this).attr("readonly", "readonly");  //disabled
                $(this).attr("disabled", "disabled");
            });

            $(obj).val("编辑");

        }
    }


    function savePot(obj) {



        var saveData = '';
        var j = 0;
        var inputs = eval("$('td[no=nopot] input,td[no=nopot] select')");
        inputs.each(function () {  //每9个是一列
            var v = $(this).val();
            if (j == 3 || j == 7 || j == 11 || j ==15 || j == 19) {
                saveData += v + "|";
            } else {
                saveData += v + ",";
            }
            j++;
        });

     
        $.ajax({
            url: "/FruitMachines/ConfigIndex/",
            type: "post",
            data: { "par": saveData, "operType": "3" },
            success: function (data) {
                if (data == "1") {
                    alert("修改成功!");
                    inputs.each(function () {
                        $(this).attr("readonly", "readonly");  //disabled
                        $(this).attr("disabled", "disabled");
                        eval('$("#' + obj + '").val("编辑")');
                    });
                } else {
                    alert("修改失败,错误编号" + data + "，请重新操作!");
                }
            }
        });

    }

    function editPot(obj) {
        if ($(obj).val() == "编辑") {
            var inputs = eval("$('td[no=nopot] input,td[no=nopot] select')");
            inputs.each(function () {
                $(this).removeAttr("readonly");  //disabled
                $(this).removeAttr("disabled");
            });
            $(obj).val("取消");
        } else {

            var inputs = eval("$('td[no=nopot] input,td[no=nopot] select')");
            inputs.each(function () {
                $(this).attr("readonly", "readonly");  //disabled
                $(this).attr("disabled", "disabled");
            });
            $(obj).val("编辑");

        }
    }


    function saveZuobi(obj) {
        var saveData = '';
        var j = 0;
        var inputs = eval("$('td[no=noZuobi] input,td[no=noZuobi] select')");
        inputs.each(function () {  //每6个是一列
            var v = $(this).val();
            if (j == 6 || j == 13 || j == 20 || j == 27 || j == 34) {
                saveData += v + "|";
            } else {
                saveData += v + ",";
            }
            j++;
        });



        $.ajax({
            url: "/FruitMachines/ConfigIndex/",
            type: "post",
            data: { "par": saveData, "operType": "4" },
            success: function (data) {
                if (data == "1") {
                    alert("修改成功!");
                    inputs.each(function () {
                        $(this).attr("readonly", "readonly");  //disabled
                        $(this).attr("disabled", "disabled");
                        eval('$("#' + obj + '").val("编辑")');
                    });
                } else {
                    alert("修改失败,错误编号" + data + "，请重新操作!");
                }
            }
        });
    }

    function editZuobi(obj) {
        if ($(obj).val() == "编辑") {
            var inputs = eval("$('td[no=noZuobi] input,td[no=noZuobi] select')");
            inputs.each(function () {
                $(this).removeAttr("readonly");  //disabled
                $(this).removeAttr("disabled");
            });
            $(obj).val("取消");
        } else {

            var inputs = eval("$('td[no=noZuobi] input,td[no=noZuobi] select')");
            inputs.each(function () {
                $(this).attr("readonly", "readonly");  //disabled
                $(this).attr("disabled", "disabled");
            });
            $(obj).val("编辑");

        }
    }


</script>

