
@{
  

}
@model LoginRegisterDataView


<div id="content">
    <form id="comment-form" class="smart-form" novalidate="novalidate">
        <div class="row">
            <div class="widget-body">
                <div class="row">
                    <section class="col col-12" style="width:210px;padding-top:5px">
                        <label>系统选择</label>
                        <label class="select">
                            @Html.DropDownListFor(m => m.Platform, new List<SelectListItem>
                            {
                                new SelectListItem { Text= "Android", Value = "1" },
                                new SelectListItem { Text= "IOS", Value = "2" }
                            })<i></i>
                        </label>
                    </section>
                    <section class="col col-12" style="width:210px;padding-top:5px">
                        <label>渠道</label>
                        <label class="select">
                            @Html.GetAllAgentGroupList("Channels", Model.Channels)
                            <i></i>
                        </label>
                    </section>

                </div>
             


                <div class="row">
                    <section class="col col-12">
                        <label class="label">当前URL地址</label>
                        <label class="input">
                            @Html.TextBox("Value", "", new { @class = "span2", style = "border-radius:4px" })
                        </label>
                    </section>
                </div>
              
                <div class="row">
                    <section class="col col-12">
                        <label class="label">请输入新的URL地址</label>
                        <label class="input">
                            @Html.TextBox("Value", "", new { @class = "span2", style = "border-radius:4px" })
                        </label>
                    </section>
                </div>

               
             

                <section class="col col-1">
                        <label class="label">&nbsp;</label>
                        <input type="button" onclick="search()" class="btn btn-success btn-sm" value="确定" />
                </section>
            </div>
        </div>

    </form>

    @Html.Partial("UpdateStringPushAd_PageList", Model.Data)

</div>


<script type="text/javascript">
    function changeJX() {
        var pp = $("#PhoneBoard").val();
        $.ajax({
            url: "/System/GetModel/",
            type: "POST",
            data: { "id": pp },
            success: function (data) {
                $("#PhoneModels").empty();
                $("#PhoneModels").append(data);
            }
        });
    }

    function btnDelete(id) {
        $.ajax({
            url: "/System/MobileLoginRegisterDelete/",
            type: "POST",
            data: { "id": id },
            success: function (data) {
                if (data == "1") {
                    alert("删除成功!");

                    location.reload();
                } else {
                    alert("删除失败，请重新尝试!");
                }
            }
        });
    }
    //平台，渠道，品牌，登录关闭类型，注册关闭类型，手机型号
    function btnAdd(loginType,RegisterType) {

        var device = $("#Platform").val();
        var agent = $("#Channels").val();
        var brand = $("#PhoneBoard").val();
        var mobileModel = $("#PhoneModels").val();
        if (agent <= 0) {
            agent = -1;
        }


        $.ajax({
            url: "/System/MobileLoginRegisterAdd/",
            type: "POST",
            data: { "device": device, "agent": agent, "brand": brand, "loginType": loginType, "RegisterType": RegisterType, "mobileModel": mobileModel },
            success: function (data) {
                if (data == "1") {
                    alert("操作成功!");

                    location.reload();
                } else {
                    alert("操作失败，请重新尝试!");
                }
            }
        });
    }


</script>