@using Webdiyer.WebControls.Mvc;
@using GL.Data.Model;
@using GL.Data.BLL;
@model PagedList<SerialGameRecord>
@{
    Layout = null;
}

<script type="text/javascript">
    function detail(id, obj) {


        var jq = eval('$("#' + id + '")');
        var jqtr = eval('$("#' + obj + '")');
        if (jq.css("display") == "none") {
            jq.css("display", "");
            jqtr.css("background-color", "gray");
        } else {
            jq.css("display", "none");

            jqtr.css("background-color", "");
        }
    }
</script>



<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                 data-widget-togglebutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-custombutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>@ViewBag.Title</h2>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>

                                    <tr>

                                        <th>时间</th>
                                        <th>牌局号</th>
                                        <th>场次</th>
                                        <th>房间ID</th>
                                        <th>玩家昵称</th>
                                        <th>玩家ID</th>
                                        <th>变化前金币</th>
                                        <th>结束后金币</th>
                                        <th>变化前五币</th>
                                        <th>结束后五币</th>
                                        <th>行为流程(点击链接查看详情)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count == 0)
            {
                                        <tr class="gradeX">
                                            <td class="colspan" align="center" colspan="0">
                                                没有找到相关记录！
                                            </td>
                                        </tr>
                                    }
                                    @foreach (SerialGameRecord m in Model)
                                    {
                                        @*<tr id="@("tr"+m.RoundID)">*@
                                        <tr>
                                            <td>@m.CreateTime</td>
                                            <td>@m.RoundID</td>
                                            <td>@(((FruitPlatze)m.RoomID).ToString())</td>
                                            <td>@m.RoomID</td>

                                            <td>@m.UserID</td>
                                            <td>@m.BeforeGold</td>
                                            <td>@m.AfterGold</td>

                                            <td>

                                                <section class="col col-1">
                                                    <label class="label">&nbsp;</label>
                                                    <input type="button" onclick="detail(@m.RoundID,'@("tr"+m.RoundID)' )" class="btn btn-success btn-sm" value="详细" />
                                                </section>
                                            </td>

                                        </tr>
                                        if (!string.IsNullOrEmpty(m.Longzhu))
                                        {
                                            <tr style="display:none" id="@m.RoundID">
                                                <td colspan="14" style="padding-left:100px;padding-right:100px">
                                                    <label style="color:black;background-color:white"> 爆灯</label>
                                                    <table border="1" class="table table-bordered ">
                                                        <tr>
                                                            <td rowspan="2">时间</td>
                                                            <td rowspan="2">变化前金币</td>
                                                            <td colspan="8">结束后金币</td>
                                                            <td rowspan="2">变化前五币</td>
                                                            <td rowspan="2">结束后五币</td>
                                                            <td rowspan="2">第几关</td>
                                                            <td rowspan="2">有钻头</td>
                                                            <td rowspan="2">有钻头</td>
                                                            <td rowspan="2">线条</td>
                                                            <td rowspan="2">分数</td>
                                                            <td rowspan="2">宝石</td>
                                                            <td rowspan="2">得分</td>
                                                        </tr>
                                                        <tr>


                                                            </tr>
                                                    </table>
                                                    }
                                                    @if (!string.IsNullOrEmpty(m.Longzhu))
                                                    {
                                                        <label style="color:black;background-color:white"> 比倍</label>
                                                        <table border="1" class="table table-bordered ">
                                                            <tr>
                                                                <td>时间</td>
                                                                <td>变化前金币</td>
                                                                <td>结束后金币</td>
                                                                <td>变化前五币</td>
                                                                <td>结束后五币</td>
                                                                <td>游戏中分数</td>
                                                                <td>聚宝盆</td>
                                                            </tr>




                                                        </table>
                                                    }




                                                </td>

                                            </tr>


                                        }
                            </tbody>
                        </table>
                    </div>


                            <div class="widget-content">

                                @Ajax.Pager(
    Model,
    new PagerOptions()
    {
        CssClass = "pager",
        ShowMorePagerItems = true,
        PageIndexParameterName = "page",
        ShowDisabledPagerItems = true,
        AlwaysShowFirstLastPageNumber = true,
        //ShowRecordCountItems = true,
        HorizontalAlign = "right",
        //SeparatorHtml = "",

        CurrentPagerItemTemplate = "<li class=\"disabled\"><span>{0}</span></li>",
        DisabledPagerItemTemplate = "<li class=\"disabled\"><span>{0}</span></li>",
        PagerItemTemplate = "<li>{0}</li>",
        //CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><span>{0}</span></li>",
        //NumericPagerItemWrapperFormatString = "<li>{0}</li>",
        //PagerItemWrapperFormatString = "<li>{0}</li>",
        //RecordCountText = string.Format("共{0}条记录, {1}页", Model.TotalItemCount, Model.TotalPageCount),
        //RecordCountFormatString = "<li><span>{0}</span></li>",
        //DisabledPagerItemsFormatString = "<li class=\"disabled\"><span>{0}</span></li>",
        //PageIndexBoxType = Webdiyer.WebControls.Mvc.PageIndexBoxType.TextBox,
        //GoButtonText = "跳转到",
        ShowPrevNext = true,
        FirstPageText = "第一页",
        LastPageText = "最后一页",
        ContainerTagName = "ul",
        PageIndexBoxId = "pageindexcm",
        WYWPageIndexString = @"<li><input style='width:50px;' type='text' value='' id='{0}' name = '{1}'></li>
                                 <li><a id='goto' name='goto' style='margin-right:10px' >跳转</a><li>
                             ",
        GoToButtonId = "goto"
    },
    new MvcAjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "box",
        InsertionMode = InsertionMode.Replace,
        OnFailure = "errFunc",
        OnSuccess = "successPageFun"
    })
                            </div>

















                        </div>
                    <!-- end widget content -->
                    </div>
                <!-- end widget div -->
                </div>
            <!-- end widget -->

            </article>
        </div>
    </section>






