@using Webdiyer.WebControls.Mvc;
@using GL.Data.Model;
@using GL.Data.BLL;
@model IEnumerable<DaiLiUsers>

@{
   
}

<div id="content">
    

    <div class="row-fluid">
        <div class="widget-box" id="box">

            <section id="widget-grid" class="">
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                             data-widget-togglebutton="false"
                             data-widget-deletebutton="false"
                             data-widget-fullscreenbutton="false"
                             data-widget-custombutton="false"
                             data-widget-collapsed="false"
                             data-widget-sortable="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>代理商列表</h2>
                            </header>
                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>

                                                <tr>
                                                    <th>代理商编号</th>
                                                    <th>代理商的名称</th>
                                                    <th>代理商的服务器地址</th>
                                                    <th>代理商的服务器端口</th>
                                                    <th>代理商游戏地址</th>
                                                    <th>代理商的后台系统地址</th>
                                                    <th>分成比例</th>
                                                    <th>兑换游戏币比例</th>
                                                    <th>库存值</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Count() == 0)
                                                {
                                                    <tr>
                                                        <td>
                                                            <span class="user-info"> Date: @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") </span>
                                                            <p><a href="#">没有找到相关记录！</a> </p>
                                                        </td>
                                                    </tr>
                                                }
                                                @foreach (DaiLiUsers m in Model)
                                                {

                                                    <tr>
                                                       <td>@m.No</td>
                                                        <td>@m.Name</td>
                                                        <td>@m.ServerIP</td>
                                                        <td>@m.ServerPort</td>
                                                        <td>@m.GameUrl</td>
                                                        <td> <a href="javascript:void()" onclick="transTo('@m.MWebUrl')">@m.MWebUrl</a> </td>
                                                        <td>@m.FenChenRate</td>
                                                        <td>@m.GoldRate</td>
                                                        <td>@{
                                                            DailiKuCun kucun = DaiLiBLL.GetDaiLiKuCun(m.No);
                                                        }
                                                        @kucun.Gold
                                                        </td>
                                                        <td style="text-align:center">
<input id="btnKuCun" type="button" value="充值库存" class="btn btn-primary btn-mini" onclick="return btnUpdateKuCun(@m.No)" />                   <input id="btnFlowNo" type="button" value="设置扣钱流水号" class="btn btn-primary btn-mini" onclick="return btnSetFlowNo(@m.No)" />                                                
                                                        </td>
                                                    </tr>

                                                }


                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget -->

                    </article>
                </div>
            </section>

        </div>
    </div>
</div>


<script type="text/javascript">
    function btnUpdateKuCun(no) {
        location.href = "/DaiLi/KuCunValueIndex?no=" + no ;
    }


    function btnSetFlowNo(no){
        location.href = "/DaiLi/SetFlowNoIndex?no=" + no ;
    }

    function transTo(url) {


        ShowReport_Click();
    }


    function ShowReport_Click() {
           
           //window.open("http://139.224.192.197:8010/");



            var parames = new Array();
            parames.push({ name: "UserName", value: "admin" });
            parames.push({ name: "Password", value: "123456" });

            Post("http://localhost:24277/Home/login", parames);

            //return false;
        }

        /*
        *功能： 模拟form表单的提交：
        */
        function Post(URL, PARAMTERS) {
            //创建form表单
            var temp_form = document.createElement("form");
            temp_form.action = URL;
            //如需打开新窗口，form的target属性要设置为'_blank'
            temp_form.target = "_blank";
            temp_form.method = "post";
            temp_form.style.display = "none";
            //添加参数
            for (var item in PARAMTERS) {
                var opt = document.createElement("textarea");
                opt.name = PARAMTERS[item].name;
                opt.value = PARAMTERS[item].value;
                temp_form.appendChild(opt);
            }
            document.body.appendChild(temp_form);
            //提交数据
            temp_form.submit();
        }

</script>