@using Webdiyer.WebControls.Mvc;
@using GL.Data.Model;
@model PagedList<UserMoneyRecord>
@{
    string Coin = MWeb.Controllers.ManageController.Coin;

    UserInfo ui = (UserInfo)ViewData["modeldata"];

    string totalCount = "";
    if (ViewData["totalData"] != null)
    {
        totalCount = ViewData["totalData"].ToString();
    }


}

@if (!Request.IsAjaxRequest())
{
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-wqdwqdw" data-widget-editbutton="false" data-widget-colorbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>个人信息</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>

                                        <tr>
                                            <th>注册日期</th>
                                            <th>注册IP</th>
                                            <th>充值金额</th>
                                            <th>充值次数</th>
                                            <th>筹码数</th>
                                            <th>昨日积分换豪礼数</th>
                                            <th>服务费</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ui == null)
                                        {
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@ui.CreateTime</td>
                                                <td>@ui.CreateIP</td>
                                                <td>@{var Charge = ui.recharge / 100;}@Charge</td>
                                                <td>@ui.rechargecount</td>
                                                <td>@ui.money</td>
                                                <td>@ui.Score</td>
                                                <td>@ui.ServiceMoney</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>
    </section>



}





<div class="row-fluid">
    <div class="widget-box" id="box">
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-efefef1" data-widget-editbutton="false" data-widget-colorbutton="false"
                         data-widget-togglebutton="false"
                         data-widget-deletebutton="false"
                         data-widget-fullscreenbutton="false"
                         data-widget-custombutton="false"
                         data-widget-collapsed="false"
                         data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>个人产出消耗</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>

                                            <tr>
                                                <th>时间</th>
                                                <th>用户ID</th>
                                                <th>用户昵称</th>
                                                <th>变化前筹码</th>
                                                <th>筹码变化</th>
                                                <th>变化后筹码</th>
                                              

                                                <th>变化前@(Coin)</th>
                                                <th>@(Coin)变化</th>
                                                <th>变化后@(Coin)</th>
                                                @*<th>积分</th>
                                                <th>积分变化</th>*@
                                                <th>玩家操作记录</th>
                                                <th>牌局号</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count == 0)
            {
                                            <tr class="gradeX">
                                                <td class="colspan" align="center" colspan="12">
                                                    没有找到相关记录！
                                                </td>
                                            </tr>
            }
                                            @foreach (UserMoneyRecord m in Model)
            {
                                            <tr class="gradeA">
                                                <td>@m.CreateTime</td>
                                                <td>@m.UserID</td>
                                                <td>@m.UserName</td>
                                                <td>@(m.ChipNum-m.ChipChange)</td>
                                                <td>@m.ChipChange</td>
                                                <td>@m.ChipNum</td>
                                              

                                                <td>@(m.Diamond-m.DiamondChange)</td>
                                                <td>@m.DiamondChange</td>
                                                <td>@m.Diamond</td>
                                                @*<td>@m.Score</td>
                                                <td>@m.ScoreChange</td>*@
                                                <td>@m.UserOper </td>
                                                <td>
                                                @if (m.RoundID == "0" || m.RoundID == "" || m.RoundID == null)
                                                {

                                                }
                                                else
                                                {
                                                    int operType = (int)m.Type;
                                                    if (operType == 26 || operType == 29 || operType == 36)//中发白跳转
                                                    {
                                                        DateTime eT = m.CreateTime.AddDays(1);
                                                        DateTime sTime = new DateTime(m.CreateTime.Year,m.CreateTime.Month,m.CreateTime.Day,0,0,0);
                                                        DateTime eTime = new DateTime(eT.Year, eT.Month, eT.Day, 0, 0, 0);
                                                        <a target="_blank" href="/GameData/GameLog?Gametype=2&SearchExt=&Data=@m.RoundID&StartDate=@sTime&ExpirationDate=@eTime">@m.RoundID</a>
                                                    }
                                                    else if (operType == 65 || operType == 66 || operType == 69)//十二生肖跳转
                                                    {
                                                        DateTime eT = m.CreateTime.AddDays(1);
                                                        DateTime sTime = new DateTime(m.CreateTime.Year, m.CreateTime.Month, m.CreateTime.Day, 0, 0, 0);
                                                        DateTime eTime = new DateTime(eT.Year, eT.Month, eT.Day, 0, 0, 0);
                                                        <a  target="_blank" href="/GameData/GameLog?Gametype=3&SearchExt=&Data=@m.RoundID&StartDate=@sTime&ExpirationDate=@eTime">@m.RoundID</a>
                                                    }
                                                    else if (operType == 157 || operType == 161 || operType == 156)//百人
                                                    {
                                                        DateTime eT = m.CreateTime.AddDays(1);
                                                        DateTime sTime = new DateTime(m.CreateTime.Year, m.CreateTime.Month, m.CreateTime.Day, 0, 0, 0);
                                                        DateTime eTime = new DateTime(eT.Year, eT.Month, eT.Day, 0, 0, 0);
                                                        <a  target="_blank" href="/GameData/GameLog?Gametype=6&SearchExt=&Data=@m.RoundID&StartDate=@sTime&ExpirationDate=@eTime">@m.RoundID</a>
                                                    }
                                                    else if (operType == 118 || operType == 114 || operType == 113)//  奔驰宝马
                                                    {
                                                        DateTime eT = m.CreateTime.AddDays(1);
                                                        DateTime sTime = new DateTime(m.CreateTime.Year, m.CreateTime.Month, m.CreateTime.Day, 0, 0, 0);
                                                        DateTime eTime = new DateTime(eT.Year, eT.Month, eT.Day, 0, 0, 0);
                                                        <a  target="_blank" href="/GameData/GameLog?Gametype=5&SearchExt=&Data=@m.RoundID&StartDate=@sTime&ExpirationDate=@eTime">@m.RoundID</a>
                                                    }
                                                    else if (operType == 232 || operType == 228 || operType == 227)//  澳门扑克
                                                    {
                                                        DateTime eT = m.CreateTime.AddDays(1);
                                                        DateTime sTime = new DateTime(m.CreateTime.Year, m.CreateTime.Month, m.CreateTime.Day, 0, 0, 0);
                                                        DateTime eTime = new DateTime(eT.Year, eT.Month, eT.Day, 0, 0, 0);
                                                        <a target="_blank" href="/GameData/GameLog?Gametype=9&SearchExt=&Data=@m.RoundID&StartDate=@sTime&ExpirationDate=@eTime">@m.RoundID</a>
                                                    }
                                                    else
                                                    {
                                                        @m.RoundID  <label>---</label>  @operType
                                                    }
                                                }
                                                  
                                               </td>
                                            </tr>

            }
                                        </tbody>
                                    </table>
                                </div>








                                <div class="widget-content">

                                    @Ajax.Pager(
    Model,
    new PagerOptions()
    {
        CssClass = "pager",
        ShowMorePagerItems = true,
        PageIndexParameterName = "page",
        ShowDisabledPagerItems = true,
        AlwaysShowFirstLastPageNumber = true,
        //ShowRecordCountItems = true,
        HorizontalAlign = "right",
        //SeparatorHtml = "",

        CurrentPagerItemTemplate = "<li class=\"disabled\"><span>{0}</span></li>",
        DisabledPagerItemTemplate = "<li class=\"disabled\"><span>{0}</span></li>",
        PagerItemTemplate = "<li>{0}</li>",
        //CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><span>{0}</span></li>",
        //NumericPagerItemWrapperFormatString = "<li>{0}</li>",
        //PagerItemWrapperFormatString = "<li>{0}</li>",
        //RecordCountText = string.Format("共{0}条记录, {1}页", Model.TotalItemCount, Model.TotalPageCount),
        //RecordCountFormatString = "<li><span>{0}</span></li>",
        //DisabledPagerItemsFormatString = "<li class=\"disabled\"><span>{0}</span></li>",
        //PageIndexBoxType = Webdiyer.WebControls.Mvc.PageIndexBoxType.TextBox,
        //GoButtonText = "跳转到",
        ShowPrevNext = true,
        FirstPageText = "第一页",
        LastPageText = "最后一页",
        ContainerTagName = "ul",
        PageIndexBoxId = "pageindexcm",
        WYWPageIndexString = @"<li><input style='width:50px;' type='text' value='' id='{0}' name = '{1}'></li>
                                 <li><a id='goto' name='goto' style='margin-right:10px' >跳转</a><li>
                             ",
        GoToButtonId = "goto"
    },
    new MvcAjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "box",
        InsertionMode = InsertionMode.Replace,
        OnFailure = "errFunc",
        OnSuccess = "successPageFun"
    }).Options(o => o.AddRouteValue("hidDataCount", ViewData["totalData"]))
                                </div>

















                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->

                </article>
            </div>
        </section>
    </div>
</div>










