
@using GL.Data.Model
@using GL.Data.View
@model GameRecordView
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UserInfo ui = (UserInfo)Model.Data;

    int type = Model.Gametype;

    string gametype = Model.GametypeS;

    string totalCount = "";
    if (ViewData["totalData"] != null)
    {
        totalCount = ViewData["totalData"].ToString();
    }

    string Coin = MWeb.Controllers.ManageController.Coin;
}

<div id="content">

    <form id="comment-form" class="smart-form" novalidate="novalidate">
        <input type="hidden" value="@totalCount" name="hidDataCount" />
         <div class="row">
            <div class="widget-body">
                <section class="col col-1">
                    <label class="label"> 流水类型</label>
                    <label class="select">
                        <select id="Gametype" name="Gametype" onchange="changType()">
                            <option value="0" @Html.GetOptionsSelectedAttr(type, 0)>游戏币&@(Coin)</option>
                            <option value="1" @Html.GetOptionsSelectedAttr(type, 1)>积分</option>
                            <option value="2" @Html.GetOptionsSelectedAttr(type, 2)>经验</option>
                            <option value="3" @Html.GetOptionsSelectedAttr(type, 3)>道具</option>
                            <option value="4" @Html.GetOptionsSelectedAttr(type, 4)>德州返点</option>
                            <option value="5" @Html.GetOptionsSelectedAttr(type, 5)>拼手牌</option>
                            <option value="6" @Html.GetOptionsSelectedAttr(type, 6)>中发白大彩池</option>
                            <option value="7" @Html.GetOptionsSelectedAttr(type, 7)>百人德州大彩池</option>
                            <option value="8" @Html.GetOptionsSelectedAttr(type, 8)>百人游戏坐庄流水</option>
                            <option value="9" @Html.GetOptionsSelectedAttr(type, 9)>开心翻翻乐流水</option>
                            <option value="10" @Html.GetOptionsSelectedAttr(type, 10)>百家乐大彩池</option>
                         </select><i></i>
                    </label>
                </section>

                <section class="col col-1.2"  >
                    <label class="label" id="lbl">会员ID</label>
                    <label class="input">
                        @Html.TextBoxFor(m => m.SearchExt, new { @class = "span2", style = "border-radius:4px;width:120px" })
                    </label>
                </section>

                <section class="col col-1.2" id="secyouxi">
                    <label class="label" id="lblyouxi">游戏名称</label>
                    <label class="select">
                    
                        <select id="GametypeS" name="GametypeS" onchange="changType()">
                            <option value="" @Html.GetOptionsSelectedAttr(gametype, "")>所有游戏</option>
                            <option value="1,2,3,4,5" @Html.GetOptionsSelectedAttr(gametype, "1,2,3,4,5")>中发白</option>
                            <option value="6,7,8,9,10" @Html.GetOptionsSelectedAttr(gametype, "6,7,8,9,10")>十二生肖</option>
                            <option value="11,12,13,14,15" @Html.GetOptionsSelectedAttr(gametype, "11,12,13,14,15")>奔驰宝马</option>
                            <option value="16,17,18,19,20" @Html.GetOptionsSelectedAttr(gametype, "16,17,18,19,20")>百人德州</option>
                        </select><i></i>
                    </label>
                </section>


             

                <section class="col col-12" style="display:none" id="sectionItemID">
                    <label class="select" style="width:210px">
                        <label class="label">物品</label>
                        @Html.GetAllItemGroupList("ItemID", Model.ItemID)
                    </label>
                </section>
                <section class="col col-1.2">
                    <label class="label">起始日期</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBoxFor(m => m.StartDate, new Dictionary<string, object>() { { "class", "form-control datepicker" }, { "data-dateformat", "yy-mm-dd 00:00:00" } })
                    </label>
                </section>
                <section class="col col-1.2">
                    <label class="label"> 截止日期</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        @Html.TextBoxFor(m => m.ExpirationDate, new Dictionary<string, object>() {
                           { "class", "form-control datepicker" },
                           { "data-dateformat", "yy-mm-dd 00:00:00" }
                       })
                    </label>
                </section>



                <section class="col col-1">
                    <label class="label">&nbsp;</label>
                    @*<button type="submit" class="btn btn-success btn-sm">查询</button>*@
                    <input type="button" onclick="search()" class="btn btn-success btn-sm" value="查询" />
                </section>

            </div>
        </div>
    </form>
   




    @Html.Partial(Model.PageList, Model.DataList)

</div>


@section scripts{
    @{Html.RegisterMvcPagerScriptResource();}
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/select2.min.js"></script>
    @Styles.Render("~/Style/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")


   <script type="text/javascript">

       $(document).ready(function () {
           changType();
              //$('select').select2({
              //    allowClear: false,
              //    minimumResultsForSearch: -1
              //});
              //$('.datepicker').datetimepicker({
              //    minView: "month", //选择日期后，不会再跳转去选择时分秒
              //    format: "yyyy-mm-dd hh:ii:ss", //选择日期后，文本框显示的日期格式
              //    language: 'zh-CN', //汉化
              //    autoclose: true //选择日期后自动关闭
              //});

          });


          function changType() {
              var Gametype = $("#Gametype option:selected").val();

              if (Gametype == "3" ) {
                
                  $("#sectionItemID").css("display", "");
              } else {
                
                  $("#sectionItemID").css("display", "none");
              }


              if (Gametype == "6" || Gametype == "7" || Gametype == "10") {

                  $("#lbl").html("牌局号");
              } else {

                  $("#lbl").html("会员ID");
              }


              if (Gametype == "8") {

                  $("#secyouxi").css("display", "");
              } else {

                  $("#secyouxi").css("display", "none");
              }
          }

</script>



}