@using AWeb.Models;
@model IEnumerable<RoleViewModel>
@{
    ViewBag.Title = "权限管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--End-breadcrumbs-->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

            <div class="well">
                        <button type="submit" class="btn btn-success btn-sm" onclick="return CreateRole()">新建权限</button>

            </div>

        </div>
    </div>

    <div class="row">

        <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                 data-widget-togglebutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-custombutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>权限列表</h2>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(x => x.RoleName)</th>
                                        <th>@Html.DisplayNameFor(x => x.Description)</th>
                                        <th>基本操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() == 0)
                                    {
                                        <tr class="gradeX">
                                            <td class="colspan" align="center" colspan="0">
                                                没有找到相关记录！
                                            </td>
                                        </tr>
                                    }
                                    @foreach (RoleViewModel m in Model)
                                    {
                                        <tr class="gradeA">
                                            <td>@m.RoleName</td>
                                            <td>@m.Description</td>
                                            <td style="text-align:center">
                                                <input id="btnDel" type="button" value="删除" class="btn btn-danger btn-mini" onclick="return ConfirmDelUser('@m.RoleID');" />
                                                <input id="btnUpdate" type="button" value="编辑" class="btn btn-inverse btn-mini" onclick="return UpdateUser('@m.RoleID');" />
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>


    </div>
</div>


@section scripts{
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script type="text/javascript">

        function UpdateUser(obj) {
            location.href = "/Agent/RoleForEdit?id=" + obj;
        }
        function CreateRole(obj) {
            location.href = "/Agent/RoleForCreate";
        }

        function ConfirmDelUser(obj) {
            if (confirm("你确定要删除此权限吗？")) {
                $.ajax({
                    url: "/Agent/RoleForDelete/",
                    type: "Post",
                    dataType: "JSON",
                    data: { "Id": obj },
                    success: function (data) {
                        switch (data.result) {
                            case 0:
                                location.reload();
                                break;
                            case 1:
                                alert("删除失败，请稍后再试");
                                break;
                            default:
                                alert(data.msg);
                                break;
                        }
                    }
                }).fail(function (xhr, textStatus, err) {
                    alert('Error: ' + err);
                });
            }
            else {
                return false;
            }
            return false;
        }

    </script>
}