@using GL.Data.Model
@model BaseDataView
@{
    ViewBag.Title = "牌局数";

    ViewBag.Format = "yyyy-MM-dd";
    switch (Model.Groupby)
    {
        case groupby.按日:
            break;
        case groupby.按月:
            ViewBag.Format = "yyyy-MM";
            break;
    }
    List<BaseDataInfo> bdl = (List<BaseDataInfo>)Model.BaseDataList;

}

<div id="content">

    <!-- Widget ID (each widget will need unique ID)-->




    <form id="comment-form" class="smart-form" novalidate="novalidate">
        <div class="row">
            <section class="col col-1">
                <label class="select">
                    @Html.DropDownList("Channels", new List<SelectListItem> {
                    new SelectListItem{ Text = "所有渠道", Value = "0"},
                    new SelectListItem{ Text = "渠道A", Value = "1"},
                    new SelectListItem{ Text = "渠道B", Value = "2"}
                })<i></i>
                </label>
            </section>

            <section class="col col-1.2">
                <div>
                    <div class="form-group">
                        <div class="input-group">
                            @*<input type="text" name="StartDate" placeholder="Select a date" class="form-control datepicker" data-dateformat="yy-mm-dd">*@
                            @Html.TextBoxFor(m => m.StartDate, new Dictionary<string, object>() { { "class", "form-control datepicker" }, { "data-dateformat", "yy-mm-dd 00:00:00" } })
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </section>
            @*<section class="col col-1.2">
                    <div>
                        <div class="form-group">
                            <div class="input-group">


                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </section>*@
            <section class="col col-1">
                <label class="select">
                    @Html.DropDownList("groupby") <i></i>
                </label>
            </section>


            <section class="col col-1">
                <button type="submit" class="btn btn-success btn-sm">查询</button>
            </section>

        </div>
    </form>




    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>牌局统计</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding" style="min-height: 70px;">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr><th colspan="2">累计牌局数: @ViewData["AllPlayCount"]  人次</th></tr>
                                        <tr>
                                            <th>日期</th>
                                            <th>牌局数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (bdl.Count == 0)
                                        {
                                            <tr>
                                                <td class="colspan" align="center" colspan="0">
                                                    没有找到相关记录！
                                                </td>
                                            </tr>
                                        }
                                        @foreach (var item in bdl)
                                        {
                                            <tr>
                                                <td>@item.date.ToString(ViewBag.Format)</td>
                                                <td>@item.count</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>
    </section>




</div>