@using GL.Data.Model
@model BaseDataView
@{
    ViewBag.Title = "渠道统计";
    ViewBag.Format = "yyyy-MM-dd";

    List<ChangleSum> bdl = (List<ChangleSum>)Model.BaseDataList;

}


<script type="text/javascript">
    function fileExport() {
        var d = $("#StartDate").val();
        var ds = d.split(' ');
        btnLoadData("渠道统计" + ds[0]);
    }



    function btnLoadData(modelname) {
        var str = "";
        //str = "博客, 域名\nBlog, 2\njb51.net, 3";
        //列头
        var _thead = document.getElementById("headColumn");
        var _theadTD = _thead.getElementsByTagName("th");
        for (var i = 0; i < _theadTD.length; i++) {
            if (i == 0) {
                str = _theadTD[i].innerText;
            } else {
                str = str + "," + _theadTD[i].innerText;
            }
        }
        var _tbody = document.getElementsByName("trExport");
        for (var j = 0; j < _tbody.length; j++) {
            str = str + "\n";
            var _tbodyTD = _tbody[j].getElementsByTagName("td");
            for (var k = 0; k < _tbodyTD.length; k++) {
                if (k == 0) {
                    str = str + _tbodyTD[k].innerText;
                } else {
                    str = str + "," + _tbodyTD[k].innerText;
                }
            }
        }
        str = encodeURIComponent(str);
        var uri = 'data:text/csv;charset=utf-8,\ufeff' + str;
        var downloadLink = document.createElement("a");
        downloadLink.href = uri;
        downloadLink.download = modelname + ".csv";

        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
    }


</script>


<div id="content">

    <form id="comment-form" class="smart-form" novalidate="novalidate">
        <div class="row">


            <section class="col col-1.2">
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    @Html.TextBoxFor(m => m.StartDate, new Dictionary<string, object>() {
                           { "class", "form-control datepicker" },
                           { "data-dateformat", "yy-mm-dd 00:00:00" }
                       })
                </label>
            </section>

            <section class="col col-5">
                <button type="submit" class="btn btn-success btn-sm">查询</button>

                <button type="button" class="btn btn-success btn-sm" onclick="fileExport()" >导出</button>
     
            </section>

        </div>
    </form>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>渠道统计</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding" style="min-height: 70px;">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead id="headColumn">
                                        @*<tr><th colspan="2">活跃用户数</th></tr>*@
                                        <tr >
                                            <th>渠道号</th>
                                            <th>渠道名称</th>
                                            <th>日新增</th>
                                            <th>新增玩牌率</th>
                                            <th>日活跃</th>
                                            <th>付费渗透率</th>
                                            <th>付费用户数</th>
                                            <th>Arppu值</th>
                                            <th>Arpu值</th>
                                            <th>总收入</th>
                                            <th>最高版本</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        @if (bdl.Count == 0)
                                        {
                                            <tr  name="trExport">
                                                <td class="colspan" align="center" colspan="0">
                                                    没有找到相关记录！
                                                </td>
                                            </tr>
                                        }
                                        @for (int k = 0; k < bdl.Count(); k++)
                                        {
                                            ChangleSum item = bdl[k];
                                            <tr name="trExport">
                                                <td>@item.Chanlle.ToString("#,0.")</td>
                                                <td>@item.AgentName</td>
                                                <td>@item.DayAdd.ToString("#,0.")</td>
                                                <td>@(item.NewBoardRate.ToString() + "%")</td>
                                                <td>@item.DayActive.ToString("#,0.")</td>
                                                <td>@(item.PayST + "%")</td>
                                                <td>@item.PayUserCount.ToString("#,0.")</td>
                                                <td>@item.Arppu</td>
                                                <td>@item.Arpu.ToString()</td>
                                                <td>@item.TotalPay.ToString("#,0.00")</td>
                                                <td>@item.MaxVersionNo</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>
    </section>
</div>

