@using GL.Data.Model
@model BaseDataView
@{
    Layout = null;
    ViewBag.Title = "注册详情";

    ViewBag.Format = "yyyy-mm-dd 00:00:00";
    switch (Model.Groupby)
    {
        case groupby.按日:
            break;
        case groupby.按月:
            ViewBag.Format = "yyyy-MM";
            break;
    }
    List<BaseDataInfo> bdl = (List<BaseDataInfo>)Model.BaseDataList;
    PagedList<Role> bdl2 = (PagedList<Role>)ViewData["rRoles"];
    List<BaseDataInfo> bdl3 = (List<BaseDataInfo>)ViewData["rChannel"];
}

<script type="text/javascript">
    $(function () {
        @{ Ajax.LoadMvcPagerScript(); }
    });
</script>
@if (Model.SearchExt == "1")
{
    <section id="widget-grid" class="detail">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>注册详情</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>

                                        <tr>
                                            <th>小时</th>
                                            <th>小时内注册用户数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (bdl.Count == 0)
                                        {
                                            <tr>
                                                <td class="colspan" align="center" colspan="0">
                                                    没有找到相关记录！
                                                </td>
                                            </tr>
                                        }
                                        @foreach (var item in bdl)
                                        {
                                            int h = Convert.ToInt32(item.Hour);
                                            int h2 = h + 1;
                                            string hs = h + ":00";
                                            string hs2 = h2 + ":00";
                                            <tr>
                                                @if (item.Hour == "0")
                                                {
                                                    <td>0:00-1:00</td>
                                                }
                                                else if (item.Hour == "23")
                                                {
                                                    <td>23:00-24:00</td>
                                                }
                                                else
                                                {
                                                    <td>@hs-@hs2</td>
                                                }

                                                <td>@item.count</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>
    </section>


}
else if (Model.SearchExt == "2")
{


    <section id="widget-grid" class="detail">
        <div class="row" id="box">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>用户详情</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>

                                        <tr>
                                            <th>用户ID</th>
                                            <th>帐户</th>
                                            <th>昵称</th>
                                            <th>真实名字</th>
                                            <th>注册时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (bdl2.Count == 0)
                                        {
                                            <tr>
                                                <td class="colspan" align="center" colspan="0">
                                                    没有找到相关记录！
                                                </td>
                                            </tr>
                                        }
                                        @foreach (Role r in bdl2)
                                        {
                                            <tr>
                                                <td>@r.ID</td>
                                                <td>@r.Account</td>
                                                <td>@r.NickName</td>
                                                <td>@r.TrueName</td>
                                                <td>@r.CreateTime</td>
                                            </tr>
                                        }



                                    </tbody>
                                </table>
                            </div>




                            @*<div class="widget-content">

                                                        @Ajax.Pager(
                                bdl2,
                                new PagerOptions()
                                {
                                    CssClass = "pager",
                                    ShowMorePagerItems = true,
                                    PageIndexParameterName = "page",
                                    ShowDisabledPagerItems = true,
                                    AlwaysShowFirstLastPageNumber = true,
                                    //ShowRecordCountItems = true,
                                    HorizontalAlign = "right",
                                    //SeparatorHtml = "",

                                    CurrentPagerItemTemplate = "<li class=\"disabled\"><span>{0}</span></li>",
                                    DisabledPagerItemTemplate = "<li class=\"disabled\"><span>{0}</span></li>",
                                    PagerItemTemplate = "<li name='ajax'>{0}</li>",
                                    //CurrentPagerItemWrapperFormatString = "<li class=\"disabled\"><span>{0}</span></li>",
                                    //NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                                    //PagerItemWrapperFormatString = "<li>{0}</li>",
                                    //RecordCountText = string.Format("共{0}条记录, {1}页", Model.TotalItemCount, Model.TotalPageCount),
                                    //RecordCountFormatString = "<li><span>{0}</span></li>",
                                    //DisabledPagerItemsFormatString = "<li class=\"disabled\"><span>{0}</span></li>",
                                    //PageIndexBoxType = Webdiyer.WebControls.Mvc.PageIndexBoxType.TextBox,
                                    //GoButtonText = "跳转到",
                                    ShowPrevNext = false,
                                    FirstPageText = "第一页",
                                    LastPageText = "最后一页",
                                    ContainerTagName = "ul",
                                    PageIndexBoxId = "pageindexcm",
                                    WYWPageIndexString = @"<li><input style='width:50px;' type='text' value='' id='{0}' name = '{1}'></li>
                                                             <li><a id='goto' name='goto' style='margin-right:10px' >跳转</a><li>
                                                         ",
                                    GoToButtonId = "goto"
                                },
                                new MvcAjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "box",
                                    InsertionMode = InsertionMode.Replace,
                                    OnFailure = "errFunc",
                                    OnSuccess = "successPageFun"
                                }).Options(o => o.AddRouteValue("target", "boxR"))

                                                    </div>*@





                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>
    </section>


}
else if (Model.SearchExt == "3")
{
    <section id="widget-grid" class="detail">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>各渠道注册详情</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>

                                        <tr>
                                            <th>渠道名称</th>
                                            <th>注册人数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (bdl3.Count == 0)
                                        {
                                            <tr>
                                                <td class="colspan" align="center" colspan="0">
                                                    没有找到相关记录！
                                                </td>
                                            </tr>
                                        }
                                        @foreach (var item in bdl3)
                                        {
                                            <tr>
                                                <td>@item.ChannelName</td>
                                                <td>@item.count</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>
    </section>
}

