@using Webdiyer.WebControls.Mvc;
@using GL.Data.Model;
@using GL.Data.BLL;
@model WeekReport







<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                 data-widget-togglebutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-custombutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>周报</h2>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                     <tr>
                                         <td>日期&nbsp;<span id="refresh" class="" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class=''></i> 选取日期倒推7天（本7天），选取日期倒退8-14天（环比上7天），选取日期倒退一个月（同比一个月前的7天） " data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-question "></i></span> </span>
                                         </td>
                                         <td>@Model.WeekTime</td>
                                         <td>@Model.LwWeekTime</td>
                                         <td>同比&nbsp;<span id="refresh" class="" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class=''></i> (本周-上周)/上周 " data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-question "></i></span> </span>
                                         </td>
                                         <td>@Model.LmWeekTime</td>
                                         <td>环比&nbsp;<span id="refresh" class="" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class=''></i> （本周-1个月前7天）/1个月前7天 " data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-question "></i></span> </span>
                                         </td>
                                     
                                     </tr>
                                    <tr>
                                        <td>周新增&nbsp;<span id="refresh" class="" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class=''></i>本周总新增量 " data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-question "></i></span> </span>
                                        </td>
                                        <td>@Model.WeekAdd</td>
                                        <td>@Model.LwWeekAdd</td>
                                        <td>
                                            @{
                                                string zhouxinzeng = "0.00%";
                                                if (Model.LwWeekAdd > 0)
                                                {
                                                    zhouxinzeng = String.Format("{0:F}", (Model.WeekAdd - Model.LwWeekAdd) * 100 / Model.LwWeekAdd) + "%";//默认为保留两位

                                                }

                                            }
                                        
                                        @zhouxinzeng</td>
                                        <td>@Model.LmWeekAdd</td>
                                        <td>
                                            @{
                                                string zhouxinzengH = "0.00%";
                                                if (Model.LmWeekAdd > 0)
                                                {
                                                    zhouxinzengH = String.Format("{0:F}", (Model.WeekAdd - Model.LmWeekAdd) * 100 / Model.LmWeekAdd) + "%";//默认为保留两位

                                                }

                                            }

                                            @zhouxinzengH

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>周登录&nbsp;<span id="refresh" class="" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class=''></i> 本周总登陆量（去重，即某用户今日登陆，明天再登陆，仅算1人） " data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-question "></i></span> </span>
                                        </td>
                                        <td>@Model.WeekLogin</td>
                                        <td>@Model.LwWeekLogin</td>
                                        <td>
                                            @{
                                                string zhoudenglu = "0.00%";
                                                if (Model.LwWeekLogin > 0)
                                                {
                                                    zhoudenglu = String.Format("{0:F}", (Model.WeekLogin - Model.LwWeekLogin) * 100 / Model.LwWeekLogin) + "%";//默认为保留两位

                                                }

                                            }

                                            @zhoudenglu

                                        </td>
                                        <td>@Model.LmWeekLogin</td>
                                        <td>
                                            @{
                                                string zhoudengluH = "0.00%";
                                                if (Model.LmWeekLogin > 0)
                                                {
                                                    zhoudengluH = String.Format("{0:F}", (Model.WeekLogin - Model.LmWeekLogin) * 100 / Model.LmWeekLogin) + "%";//默认为保留两位

                                                }

                                            }

                                            @zhoudengluH

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>周付费率&nbsp;<span id="refresh" class="" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class=''></i> 本周付费用户数（去重）/周登陆（去重） " data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-question "></i></span> </span>
                                        </td>
                                        <td>
                                            @{
                                                string zhoufufeilv = "0.00%";
                                                if (Model.WeekLogin > 0)
                                                {
                                                    zhoufufeilv = String.Format("{0:F}", (Model.WeekPayCount * 100 / Model.WeekLogin) ) + "%";//默认为保留两位

                                                }

                                            }

                                            @zhoufufeilv
                                        </td>
                                        <td>
                                            @{
                                                string zhoufufeilvL = "0.00%";
                                                if (Model.LwWeekLogin > 0)
                                                {
                                                    zhoufufeilvL = String.Format("{0:F}", (Model.LwWeekPayCount * 100 / Model.LwWeekLogin)) + "%";//默认为保留两位

                                                }

                                            }

                                            @zhoufufeilvL
                                        </td>
                                        <td>
                                            @{
                                                string zhoufufeilvT = "0.00%";
                                                if (Model.LwWeekLogin > 0)
                                                {
                                                    zhoufufeilvT = String.Format("{0:F}", (
                                                        (Model.WeekPayCount/Model.WeekLogin - Model.LwWeekPayCount/Model.LwWeekLogin) * 100) / 
                                                        (Model.LwWeekPayCount / Model.LwWeekLogin)

                                                        ) + "%";//默认为保留两位

                                                }

                                            }

                                            @zhoufufeilvT

                                        </td>
                                        <td>@{
                                            string zhoufufeilvLm = "0.00%";
                                            if (Model.LmWeekLogin > 0)
                                            {
                                                zhoufufeilvLm = String.Format("{0:F}", (Model.LmWeekPayCount * 100 / Model.LmWeekLogin)) + "%";//默认为保留两位

                                            }

                                        }

                                        @zhoufufeilvLm</td>
                                        <td>
                                            @{
                                                string zhoufufeilvH = "0.00%";
                                                if (Model.LmWeekLogin > 0)
                                                {
                                                    zhoufufeilvH = String.Format("{0:F}", (
                                                                                            (Model.WeekPayCount / Model.WeekLogin - Model.LmWeekPayCount / Model.LmWeekLogin) * 100) /
                                                                                            (Model.LmWeekPayCount / Model.LmWeekLogin)

                                                                                            ) + "%";//默认为保留两位

                                                }

                                            }

                                            @zhoufufeilvH


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>周累计付费人数&nbsp;<span id="refresh" class="" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class=''></i> 本周累计付费的人数（去重） " data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-question "></i></span> </span>
                                        </td>
                                        <td>@Model.WeekPayCount</td>
                                        <td>@Model.LwWeekPayCount</td>
                                        <td>
                                            @{
                                                string zhoufufeiRenShuT = "0.00%";
                                                if (Model.LwWeekPayCount > 0)
                                                {
                                                    zhoufufeiRenShuT = String.Format("{0:F}", (Model.WeekPayCount - Model.LwWeekPayCount) * 100 / Model.LwWeekPayCount) + "%";//默认为保留两位

                                                }

                                            }

                                        
                                            @zhoufufeiRenShuT


                                        </td>
                                        <td>@Model.LmWeekPayCount</td>
                                        <td>
                                            @{
                                                string zhoufufeiRenShuH = "0.00%";
                                                if (Model.LmWeekPayCount > 0)
                                                {
                                                    zhoufufeiRenShuH = String.Format("{0:F}", (Model.WeekPayCount - Model.LmWeekPayCount) * 100 / Model.LmWeekPayCount) + "%";//默认为保留两位

                                                }

                                            }


                                            @zhoufufeiRenShuH



                                        </td>
                                    </tr>
                                    <tr>
                                        <td>周付费总额&nbsp;<span id="refresh" class="" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class=''></i> 本周累计收入 " data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-question "></i></span> </span>
                                        </td>
                                        <td>@Model.WeekPaySum</td>
                                        <td>@Model.LwWeekPaySum</td>
                                        <td>
                                            @{
                                                string zhoufufeiZongeT = "0.00%";
                                                if (Model.LwWeekPaySum > 0)
                                                {
                                                    zhoufufeiZongeT = String.Format("{0:F}", (Model.WeekPaySum - Model.LwWeekPaySum) * 100 / Model.LwWeekPaySum) + "%";//默认为保留两位

                                                }

                                            }


                                            @zhoufufeiZongeT




                                        </td>
                                        <td>@Model.LmWeekPaySum</td>
                                        <td>
                                            @{
                                                string zhoufufeiZongeH = "0.00%";
                                                if (Model.LmWeekPaySum > 0)
                                                {
                                                    zhoufufeiZongeH = String.Format("{0:F}", (Model.WeekPaySum - Model.LmWeekPaySum) * 100 / Model.LmWeekPaySum) + "%";//默认为保留两位

                                                }

                                            }
                                            @zhoufufeiZongeH




                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>
    </div>
</section>
