@using GL.Data.View
@model GameRecordView
@{
    ViewBag.Title = "007数据统计";


    ViewBag.Format = "yyyy-MM-dd";

    List<RobotOutPut> bdl = (List<RobotOutPut>)Model.DataList;


}


<div id="content">

    <!-- Widget ID (each widget will need unique ID)-->


    <form id="comment-form" class="smart-form" novalidate="novalidate">
        <div class="row">
        
            <section class="col col-1.2">
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    @Html.TextBoxFor(m => m.StartDate, new Dictionary<string, object>() {
                           { "class", "form-control datepicker" },
                           { "data-dateformat", "yy-mm-dd 00:00:00" }
                       })
                </label>
            </section>



            <section class="col col-1.2">
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    @Html.TextBoxFor(m => m.ExpirationDate, new Dictionary<string, object>() {
                           { "class", "form-control datepicker" },
                           { "data-dateformat", "yy-mm-dd 00:00:00" }
                       })
                </label>
            </section>



            <section class="col col-1">
                <button type="submit" class="btn btn-success btn-sm">查询</button>
            </section>

        </div>
    </form>



    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>007数据统计</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding" style="min-height: 70px;">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>

                                        <tr>
                                            <th>时间</th>
                                            <th>007总金额</th>
                                            <th>007每日产生总服务费</th>
                                            <th>007每日增加游戏币总额</th>
                                            <th>007每日扣除游戏币总额</th>
                                            @*<th>007每日盈利</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (bdl.Count == 0)
                                        {
                                            <tr>
                                                <td class="colspan" align="center" colspan="0">
                                                    没有找到相关记录！
                                                </td>
                                            </tr>
                                        }
                                        @foreach (var item in bdl)
                                        {
                                            <tr>
                                                <td>@item.RecordTime</td>
                                                <td>@item.systemChip.ToString("#,0.")</td>
                                                <td>@item.ServiceMoney.ToString("#,0.")</td>
                                                <td>@item.AddMoney.ToString("#,0.")</td>
                                                <td>@item.DelMoney.ToString("#,0.")</td>
                                                @*<td>@item.Profit.ToString("#,0.")</td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>
    </section>






</div>