
@using GL.Data.Model
@using GL.Data.View
@model GameRecordView
@{
    ViewBag.Title = "游戏控制日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content">



    <form id="comment-form" class="smart-form" novalidate="novalidate">
        <div class="row">
          

            <section class="col col-12" style="width:210px">
                <label class="select">


                

                    @Html.GetMasterLevel("UserID", (int)Model.UserID)

                    

                    <i></i>
                </label>
            </section>


            <section class="col col-12" style="width:210px">
                <label class="select">
                   
                    @Html.GetMasterOper("SearchExt", Model.SearchExt)
                    <i></i>
                </label>
            </section>


            <section class="col col-1.2">
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    @Html.TextBoxFor(m => m.StartDate, new Dictionary<string, object>() {
                           { "class", "form-control datepicker" },
                           { "data-dateformat", "yy-mm-dd 00:00:00" }
                       })
                </label>
            </section>



            <section class="col col-1.2">
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    @Html.TextBoxFor(m => m.ExpirationDate, new Dictionary<string, object>() {
                           { "class", "form-control datepicker" },
                           { "data-dateformat", "yy-mm-dd 00:00:00" }
                       })
                </label>
            </section>
        

            <section class="col col-1">
                <input type="button" onclick="search()" class="btn btn-success btn-sm" value="查询" />
            </section>

        </div>
    </form>



    <div class="row-fluid">
        <div class="widget-box" id="box">
            @Html.Partial("PotCtrlList_PageList", Model.DataList)
        </div>
    </div>

</div>


@section scripts{
@{Html.RegisterMvcPagerScriptResource();}
    @*<script src="/js/bootstrap.min.js"></script>
    <script src="/js/select2.min.js"></script>*@


    <script type="text/javascript">


        //function btnDelete(obj) {
        //    _this = $(obj).parent().parent();
        //    if (confirm('确定删除本记录？')) {
        //        var _ServEmailID = _this.find("input[type='hidden']").val();
        //        $.ajax({
        //            url: "/api/FM/",
        //            type: "OPTIONS",
        //            dataType: "JSON",
        //            data: { "ServEmailID": _ServEmailID },
        //            success: function (data) {
        //                switch (data.result) {
        //                    case 0:
        //                        location.reload();
        //                        break;
        //                    case 1:
        //                        alert("删除失败，请稍后再试");
        //                        break;
        //                    default:
        //                        alert('未知错误');
        //                        break;
        //                }
        //            }
        //        }).fail(function (xhr, textStatus, err) {
        //            alert('Error: ' + err);
        //        });
        //    } else {
        //        return false;
        //    }
        //    return false;
        //}



    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }



    </script>
}




