@using GL.Data.Model
@model BaseDataView
@{
    ViewBag.Title = "在线在玩";
    ViewBag.Format = "yyyy-MM-dd HH:mm";
    switch (Model.Groupby)
    {
        case groupby.按日:
            break;
        case groupby.按月:
            ViewBag.Format = "yyyy-MM-dd";
            break;
    }

    List<BaseDataInfoForOnlinePlay> bdl = (List<BaseDataInfoForOnlinePlay>)Model.BaseDataList;
    int hid = (int)ViewData["cCount"];
}

<div id="content">

    <!-- Widget ID (each widget will need unique ID)-->
        <section id="widget-grid" class="">


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

                    <div class="well">
                        <form id="comment-form" class="form-inline" novalidate="novalidate" >


                            <fieldset>
                            
                                @if (hid == 1)
                                {
                                    @Html.DropDownList("Channels", null, new { @class = "form-control input-sm", @style = "display:none" })
                                }
                                else
                                {
                                    @Html.DropDownList("Channels", null, new { @class = "form-control input-sm" })
                                }

                                <div class="form-group">
                                    <div class="input-group">
                                        @*<input type="text" id="StartDate" name="StartDate" placeholder="Select a date" class="form-control datepicker" data-dateformat="yy-mm-dd">*@
                                        @Html.TextBoxFor(m => m.StartDate, new Dictionary<string, object>() { { "class", "form-control datepicker input-sm" }, { "data-dateformat", "yy-mm-dd 00:00:00" } })
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                @Html.DropDownList("groupby", null, new { @class = "form-control input-sm" })
                                <button type="submit" class="btn btn-success btn-sm">查询</button>

                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>



            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>在线在玩统计</h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                            </div>
                            <div class="widget-body no-padding" style="min-height: 70px;">
                                <div id="site-stats" class="chart has-legend"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
</div>
@section pagespecific {
<script type="text/javascript">
  



    $(document).ready(function() {
        $("#Channels").select2({
            theme: "bootstrap",
            allowClear: false,
            minimumResultsForSearch: -1
        });
    });
			// PAGE RELATED SCRIPTS

			/* chart colors default */
			var $chrt_border_color = "#efefef";
			var $chrt_grid_color = "#DDD"
			var $chrt_main = "#E24913";
			/* red       */
			var $chrt_second = "#6595b4";
			/* blue      */
			var $chrt_third = "#FF9F01";
			/* orange    */
			var $chrt_fourth = "#7e9d3a";
			/* green     */
			var $chrt_fifth = "#BD362F";
			/* dark red  */
			var $chrt_mono = "#000";

			$(document).ready(function() {

				// DO NOT REMOVE : GLOBAL FUNCTIONS!
				pageSetUp();

				/* site stats chart */

				if ($("#site-stats").length) {
				    var sin = [], cos = [];time= [];
				     @{
				        int max = 0;
				        int max1 = 0;
				        int max2 = 0;


				        for (int i = 0; i < bdl.Count; i++)
				        {
				            <text>sin.push([@GL.Common.Utils.GetTimeStampL(bdl[i].date), @bdl[i].online])</text>
                            <text>cos.push([@GL.Common.Utils.GetTimeStampL(bdl[i].date), @bdl[i].playing])</text>
                            <text>time.push([@i, @GL.Common.Utils.GetTimeStampL(bdl[i].date)])</text>


				            max1 = max1 > bdl[i].online ? max1 : bdl[i].online;
				            max2 = max2 > bdl[i].playing ? max2 : bdl[i].playing;
				        }
				        max = max1 > max2 ? max1 : max2;
				    }


				    plot_2 = $.plot($("#site-stats"), [{
				        data : sin,
				        label : "在线", color: "#ee7951"
				    }, {
				        data : cos,
				        label : "在玩", color: "#4fb9f0"
				    }], {
				        series : {
				            lines : {
				                show : true
				            },
				            points : {
				                show : true
				            }
				        },
				        yaxes : [{

				            tickFormatter : function(v) {
				                return v + "人";
				            }
				        }],
				        grid : {
				            hoverable : true,
				            clickable : true,
				            tickColor : $chrt_border_color,
				            borderWidth : 1,
				            borderColor : $chrt_border_color,
				        },
				        tooltip : true,
				        tooltipOpts : {
				            content : "%s人数%y人",
				            //dateFormat : "%y-%0m-%0d",
				            defaultTheme : false
				        },
				        colors : [$chrt_main, $chrt_second],
				        yaxis : {
				            ticks : 5,
				            tickDecimals : 0,
				            axisLabelUseCanvas: true,
				            color: "black",
				            axisLabelFontSizePixels: 12,
				            axisLabelFontFamily: '宋体,Verdana, Arial',
				            axisLabelPadding: 5
				        },
				        xaxis : {
				            //ticks : 15,
				            //tickDecimals : 2,
				            mode: "time",
				            color: "black",
				            axisLabel: "Date",
				            axisLabelUseCanvas: true,
				            axisLabelFontSizePixels: 12,
				            axisLabelFontFamily: '宋体,Verdana, Arial',
				            axisLabelPadding: 10,
				            //min : '00:00',
				            //max : '24:00',
				            //from : '00:00',
				            //to : '24:00',
				            tickFormatter: function (val,axis) {
				                var d = new Date(val);
				                return d.toLocaleTimeString();


				                //  alert("toLocaleString:"+ d.toLocaleString());   //toLocaleString:2015/11/30 上午9:21:40
				                //  alert("toDateString:"+ d.toDateString());       //toDateString:Mon Nov 30 2015
				                //  alert("toLocaleTimeString:"+ d.toLocaleTimeString()); //toLocaleTimeString:上午9:21:40
				                // alert("toTimeString:"+ d.toTimeString()); //toTimeString:09:21:40 GMT+0800
				                //  alert("toUTCString:"+ d.toUTCString());//toUTCString:Mon, 30 Nov 2015 01:21:40 GMT

				                //  var date2 = d.getFullYear() + "-" + sup(d.getMonth()) + "-" + sup(d.getDate());
				                // var time = sup(d.getHours()) + ":" + sup(d.getMinutes()) + ":" + sup(d.getSeconds());


				                //var d = new Date(val);
				                //var time = sup(d.getHours()) + ":" + sup(d.getMinutes()) ;
				                //return time;

				                //  var lctime = d.toLocaleTimeString();
				            }
				        }
				    });


				}
			});
</script>

    }